altgraph==0.17
asgiref==3.3.1
atomicwrites==1.4.0
attrs==21.2.0
avro==1.10.0
beautifulsoup4==4.9.3
bs4==0.0.1
cffi==1.14.5
click==7.1.2
colorama==0.4.4
coverage==5.5
datacompy==0.7.2
decorator==4.4.2
Django==3.1.8
dominate==2.6.0
et-xmlfile==1.0.1
flake8==3.9.2
future==0.18.2
image==1.5.33
iniconfig==1.1.1
jdcal==1.4.1
lxml==4.6.2
mccabe==0.6.1
mock==4.0.3
nose==1.3.7
numpy==1.20.1
ok==0.0.0
openpyxl==3.0.4
packaging==20.9
pandas==1.2.4
pefile==2019.4.18
Pillow==8.1.2
pluggy==0.13.1
prettytable==2.1.0
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.2.3.0.2
PyQt5Designer==5.14.1
pytest==6.2.4
pytest-cov==2.12.0
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
pywin32==300
pywin32-cffi-spellcheck==0.0.9
pywin32-ctypes==0.2.0
pywin32-stubs==0.1.4
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
schedule==1.0.0
self==2020.12.3
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
toml==0.10.2
watchdog==2.0.2
wcwidth==0.2.5
xlrd==1.2.0
XlsxWriter==1.3.7
